.encabezado-rrhh {
    background: url(../img/home/transparencia-slide.png), url(../img/rrhh/foto-encabezado.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.card-tomas:hover {
    background-color: #008e69;
    color: white;   
}


