.encabezado-info {
    background: url(../img/home/transparencia-slide.png), url(../img/info-tomas/foto-encabezado.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.jumbotron {
    background-color: white;
}
/*
.info-tomas p {
    font-weight: 200;
}
*/
.info-tomas .search-box {
    border: 1px #FFF solid;
    background: none;
    width: 80%;
    border-radius: 15px;
    padding: 6px 5px 4px 20px;
}

.info-tomas .btn-white {
    border: 1px #FFF solid;
    width: 100%;
    border-radius: 15px;
    padding: 5px 5px 5px 25px;
    top: 0;
    left: 0;
    z-index: 5;
}

.info-tomas .btn-green {
    border: 2px #008e69 solid;
    width: 100%;
    border-radius: 15px;
    padding: 5px 20px 1px 20px;
    top: 0;
    left: 0;
    z-index: 5;
    font-weight: 800;
    color: #008e69;
}

.info-tomas .search-box-green:hover {
    background-color: #008e69;
    color: white;
}

.fas{
   /* font-weight: 900;
    color: white;
    left: -40px;
    position: relative;
    */
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-tomas p.search-box {
    font-size: 16px;
}

.info-tomas p{
    text-align: left;
    margin-top: 2rem;
    flex-grow: inherit;
}

p.news-title {
    color:#333;
    font-weight: 800;
    font-size: 26px;
    line-height: 26px;
}

p.news-desc {
    color:#333;
}

.text-center {
    flex-grow: inherit;
    text-align: center!important;
}

.bottom-left {
    position: absolute;
    bottom: 0px;
    max-width: 53%;
    padding-left: 20px;
    font-weight: 800!important;
    line-height: 30px;
  }

  .text-entered {
    font-size: 3rem;
    margin-bottom: 60px;
  }

 .search-results {
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: #333;
}

.search-results p{
    margin: 0;
}

.search-results p.search-date {
    color: #2C8D6B;
    font-size: 22px;
    font-weight: 400;
}
.search-results p.search-pretitle {
    font-size: 22px;
    font-weight: 600;
}
.search-results p.search-title {
    font-size: 1.25rem;
    font-weight: 800;
}
.search-results p.search-info {
    font-size: 24px;
    font-weight: 400;
}

.search-results p.search-info span{
    color: #2C8D6B;
}

.line {
    border-bottom: solid 2px #333;
}

.press-links {
    font-size: 1.4em;
    padding-top: 10px;
}

.press-links a{
    color: #333;
}
 .press-links a:hover{
    color: #2C8D6B;
    text-decoration: none;
}

.logos {
    background-color: #e9ecef;
    color: #333;
    padding: 20px;
    margin-right: 10px;
    min-width: 260px;
    display: -webkit-inline-box;
}

.logos:hover {
    background-color: #2C8D6B;
    color: white;
}

.logos .fas{
    color: grey;
    font-size: 1.5rem;
    margin-right: 14px;
}

.logos:hover .fas{
    color:white;
}
