.encabezado-rrhh {
    background: url(../img/home/transparencia-slide.png), url(../img/rrhh/foto-encabezado.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-rrhh {
    background: url(../img/rrhh/iso-busquedas-activas.png) #e9ecef no-repeat bottom right;
    padding: 20px 10px 0 10px;
    margin-bottom: 30px;
    border: none;
    border-radius: 0%;
}

.card-rrhh:before {
    background-color: #2C8D6B;
    content: "";
    width: 10px;
    height: 62px;
    display: block;
    top: 0;
    left: 0;
    position: absolute;
}

.card-rrhh a{
    color: #2C8D6B;
}

.links-impositiva {
    position: relative;
    display: inline-block;
    color: white;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 4px;
  }
  
  .links-impositiva-left {
    width: 70%;
    background-color: #2C8D6B;
    /*border-left: solid 10px #2C8D6B;*/
    padding: 24px 0 20px 18px;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    /*height: 72px;*/
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    float: left;
  }
  
  .links-impositiva-left:after {
    position: absolute;
    left: 65.5%;
    content: "";
    top: 0;
    border-top: 37px solid #2C8D6B;
    border-left: 0 solid #2C8D6B;
    border-right: 16px solid #2C8D6B;
    border-bottom: 35px solid #2C8D6B;
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-12deg, 0deg);
  }
  
  .links-impositiva-right:before {
    position: absolute;
    right: 69px;
    content: "";
    top: 0px;
    border-top: 37px solid #c9c9c9;
    border-left: 0 solid #c9c9c9;
    border-right: 16px solid #c9c9c9;
    border-bottom: 35px solid #c9c9c9;
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-12deg, 0deg);
  }
  
  .links-impositiva-right {
    width: 70px;
    background-color: #c9c9c9;
    position: relative;
    display: inline-block;
    padding: 17px 0 9px 15px;
    color: white;
    font-weight: 800;
    font-size: 32px;
    left: 20px;
    height: 72px;
  }

  @media (min-width: 992px) {
      /*
    .links-impositiva-left {
      width: 370px;
      line-height: initial;
    }*/
    .links-impositiva-left:after {
        left: 67.5%;
      }
    }
  



