.encabezado-servicios {
    background: url(../img/home/transparencia-slide.png), url(../img/multiservicios/foto-encabezado.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-tomas {
    background-color: #e9ecef;
}
