@import url('https://fonts.googleapis.com/css?family=Catamaran:200,300,500,700');

body, p, h1, h2, h3, h4,a, button {
    font-family: 'Catamaran', sans-serif!important;
}


body {
    overflow-x: hidden;
}
.navbar-dark .navbar-nav .nav-link {
    font-weight: 500;
    color: white;
}
.navbar-dark .navbar-nav .nav-link img:hover{
    opacity: 0.8;
}
.bg-dark {
    background: #333333!important;
}
.img-fluid {
    width: 100%;
}
.dropdown-menu {
    background-color: #333333!important;
    color:white!important
}
.dropdown-item {
    color:white!important
}
.dropdown-item:hover {
    background-color: #333!important;
    color:white!important
}
.navbar-dark .navbar-brand {
    padding: 20px;
}
.navbar-dark .navbar-toggler {
    border:none;
}
.section-one {
    height: 100%;
    width: 100%;
    background: #333;
    position: relative;
    z-index: 1;
    transition: width 0.5s;
}
.section-one:before {
    content: "";
    height: 100%;
    position: absolute;
    background: #333;
    top: 0;
    left: 0;
    z-index: -1;
}
.section-two {
    height: 100%;
    width: 110px;
    background: #525659;
    transform: skewX(-9deg);
    position: absolute;
    bottom: 0;
    right: -8px;
    z-index: 1;
    transition: width 0.5s;
  }
  .section-two:after {
    content: "";
    height: 100%;
    position: absolute;
    background: #525659;
    bottom: 0;
    right: 0;
    transform: skewX(9deg);
    z-index: -1;
  }
 .section-one li, .section-two li {
    padding: 10px 3px 10px 20px;
    color: #FFF;
    border-top: solid white 1px;
}
  .section-two li {
    top: 10px;
    position: relative;
  }

.transparencia-slide {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.acceso-extranet a {
    color: white
}
.carousel-caption {
    position: absolute;
    text-align: left;
    top: 0;
    bottom: 0;
    left: 10%;
    height: 30%;
}
.carousel-caption h3, .carousel-caption p {

    font-size: 46px;
    margin-bottom: 0;
    font-weight: 700;
    line-height: 46px;
}
.carousel-caption p {
    font-weight: 200;
    font-size: 3rem;
}
.carousel-indicators {
    bottom: -44px;
}
.carousel-indicators li {
    height: 10px;
    width: 10px;
    border: solid 2px #FFF;
    background: none;
    border-radius: 50%;
    display: inline-block;
}
.carousel-indicators .active{
    background-color: #FFF;
}

.carousel-inner-transparency:after {
    width: 100%;
    position: absolute;
    height:  100%;
    background: url(../img/home/transparencia-slide.png);
    background-size: 100%;
}
.contents{
    display: contents;

}
.jumbotron {
    padding: 5rem 0rem;
    width: 100%;
}
.lideres {
    background: url(../img/home/iso-tomas-agua.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
}
.titulo {
    font-size: 2.3em;
    font-weight: 700!important;
}
.active {
    color: #008e69!important;
}
.dropdown-item.active, .dropdown-item:active {
    text-decoration: none;
    background-color: #333333!important;
}
.text-green {
    color: #2C8D6B!important;
}
.text-grey {
    color:#666;
}
.nav-link.text-green a{
    color: #2C8D6B;
}

.text-yellow {
    color: #f2b447;
}
.nav-link.text-green a{
    color: #2C8D6B;
}
.back-green {
    background: #009f72;
}
.big {
    font-size: 2.3em;
    font-weight: 200;
    line-height: 47px;
}
.btn-outline-white,
.btn-outline-success {
    border-radius: 20px;
    font-size: 16px;
    padding: .375rem 1.8rem;
}

.btn-outline-success {
    border-color: #2C8D6B;
}

.btn-outline-white {
    border-color: white;
}
.btn-outline-white:hover {
    color: #333!important;
    background-color: #fff;
}

.btn-outline-success:hover{
    color: white!important;
    background-color: #2C8D6B;

}
area:hover {
    background-color: black;
}
.video-caption {
    left: 10%;
    bottom: 5%;
    text-align: left;
}
.video-caption h3, .video-caption p {
    font-size: 41px;
    margin-bottom: 0;
    font-weight: 700;
    line-height: 50px;
}
.video-caption p {
    font-weight: 200;
    font-size: 20px;
    line-height: 20px;
}
.video-caption .small {
    font-size: 16px;
    line-height: 16px;
}
.news-title {
    font-size: 1.3em;
    font-weight: 700;
    color:white;
    text-align: left;
}
.news-desc {
    font-weight: 400;
    color:white;
    text-align: left;
}

.slick-next, .slick-prev {
    background-color: transparent!important;
    font-size: 0;
    border: none;
    bottom: 0;
    position: absolute;
}
.slick-next {
    right: 10px;
}
.slick-prev {
    left: 10px;
    z-index: 500;
}
.slick-prev:before, .slick-next:before { 
    font-size: 20px; 
    line-height: 1; 
    color: white;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    font-family: "Font Awesome 5 Free";
    content: "\f053";
    display: inline-block;
    padding: 4px 8px;
    vertical-align: middle;
    font-weight: 700;
    border: 3px solid white;
    border-radius: 21px;
}   

.slick-prev:before { content: "\f053"; }
[dir="rtl"] .slick-prev:before { content: "\f054"; }

[dir="rtl"] .slick-next { left: -10px; top: 70px; right: auto; }
.slick-next:before { content: "\f054"; }
[dir="rtl"] .slick-next:before { content: "\f053"; }

.ctt {
    background: url(../img/home/fondo-ctt.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.fecha-container {
    background-color: #545454;
    border-radius: 50%;
    width: 120px;
    padding: 5px 21px 1px;
    margin-left: auto;
}
.fecha-numero {
    font-size: 75px;
    font-weight: 700;
    line-height: 84px;
    margin-bottom: 0;
}
.fecha-mes {
    font-size: 21px;
    font-weight: 200;
    margin-top: -15px;
}
.titulo-bold {
    font-size: 1.4em;
    font-weight: 800;
    line-height: 21px;
    color: white;
}
.titulo-bold-black {
    font-size: 1.4em;
    font-weight: 800;
    line-height: 21px;
    color: black;
}
.texto-chico, .link {
    font-size: 1.3em;
    font-weight: 200;
    line-height: 22px;
    color: white;
}
.link:hover {
    text-decoration: none;
}
.link {
    float: right;
    font-size: 1em;
    
}
.fotos-tomas-news-items .news-title {
    margin-top: -70px;
    margin-left: 20px;
    line-height: 20px;
    margin-bottom: 70px;
}

.titulo-section {
    font-size: 36px;
    font-weight: 800;
    line-height: 36px;
    color: white;
}
.map {
    height:550px;
    width:100%;
    overflow:hidden;
}
 .map-blured iframe{
    opacity: .3;
}

.map-content {
    position: absolute;
    top: 20px;
    z-index: 200;
}

.map-google-custom {
    position:relative;
    top:-50px;
     border:none;
}


@media (min-width: 992px) {
    .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
        height: 80px;
    }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }

  .section-back-white {
    background-color: white;
}
.card-tomas {
    background-color: #e9ecef;
}
.copyright {
    border-top: solid 1px whitesmoke;
}

@media (min-width: 992px) {
    .carousel-indicators {
        bottom: 0;
    }
    .slick-next,
    .slick-prev {
        top: 50%;
        bottom: auto;
    }
    .slick-next {
        right: 0;
    }
    .slick-prev {
        left: 0;
    }
    .map-content {
        top: 20%;
    }
    .section-one li, .section-two li {
        padding: 10px 0;
        border-top: none;
    }
    .section-one {
        height: 100%;
        width: 970px;
        position: relative;
        transform: skewX(-9deg);
        z-index: 1;
        transition: width 0.5s;
    }
    .section-one:before {
        transform: skewX(9deg);
    }
    .section-one li, .section-two li {
        transform: skewX(9deg);
    }
    
}

@media (min-width: 1200px) {
    .section-one {
        height: 100%;
        width: 1020px;
        position: relative;
        transform: skewX(-9deg);
        z-index: 1;
        transition: width 0.5s;
    }

    .section-one li, .section-two li {
        padding: 10px 4px;
    }

    .section-two {
        width: 14%;
    }
}